#!/usr/bin/make -f

export LDFLAGS="-Wl,--as-needed"

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/rules/simple-patchsys.mk
include /usr/share/cdbs/1/class/kde.mk

DEB_INSTALL_MANPAGES_kdesudo = kdesudo.1

build/kdesudo::
	docbook2x-man debian/kdesudo.1.docbook

clean::
	debconf-updatepo
	rm -f kdesudo.1
